@import url('https://fonts.googleapis.com/css2?family=Rubik+Scribble&family=Ubuntu:wght@400;700&display=swap');

:root{
    --primary-color: #175632;
    --primary-color-light: #4D8F5F;
    --secondary-color: #60D26F;
    --secondary-color-light: #A3E6A4;
    --accent-color: #83BEC5;

    --text-color: #0f0f0f;
    --background-color: #feffe5;
}

* {
    margin: 0;
    padding: 0;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 0.5em;
}

::-webkit-scrollbar-track {
    background-color: rgba(150, 150, 150, 30%);
}

::-webkit-scrollbar-thumb {
    background-color: rgba(150, 150, 150, 50%);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--accent-color);
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: Ubuntu, sans-serif;
}

/* Header */
header {
    position: sticky;
    top: 0; /* At the top of the page */
    z-index: 2;
    background: var(--background-color);
    box-shadow: 0px 0px 50px -20px #cbcbcb;
    width: vw; /* Full width */
}

header div {
    display: flex;
    align-items: center;
    gap: 1em;
}

header .container {
    padding: 12px 20px;
    justify-content: space-between;
}

header a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

#header-seperator {
    position: relative;
    bottom: 0;
    z-index: 1;
}

.logo-text {
    font-family: 'Rubik Scribble', cursive;
    font-size: 1.75em;
    color: black;
}

/* Burger Menu */
#burger-menu {
    display: block;
    position: relative;
    width: 1.5em;
    height: 1.5em;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;
}

#burger-menu span {
    display: block;
    position: absolute;
    height: 0.2em;
    width: 100%;
    background: #000;
    border-radius: 0.2em;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;
}

#burger-menu span:nth-child(1) {
    top: 0.5em;
}

#burger-menu span:nth-child(2) {
    top: 0.9em;
}

#burger-menu.open span:nth-child(1) {
    top: 0.7em;
    transform: rotate(45deg);
}

#burger-menu.open span:nth-child(2) {
    top: 0.7em;
    transform: rotate(-45deg);
}

/* Navigation */
nav {
    display: flex;
    position: fixed;
    z-index: 1;
    width: calc(100% - 2em); /* Set width to 100% of the viewport width */
    gap: 0.4em;
    padding: 1em;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--background-color);
    border-bottom: solid 1px grey;
    box-shadow: 0px 0px 50px -20px #b6b6b6;

    transform: translateY(-17.5em);
    transition: 0.5s ease-in-out;
}

nav a {
    display: block;
    padding: 10px;
    width: 40%;
    min-width: 10em;
    text-align: center;
    text-decoration: none;
    color: var(--background-color);
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 0.75em;     /* round corners */
}

nav a.self {
    background-color: var(--secondary-color-light);
    color: var(--text-color);
}

/* Home/Landingpage*/
#landing-page-main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "hero";
    margin: 2em 4%;
}

.hero {
    grid-area: hero;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
}

.hero-image img {
    width: 100%;
    max-width: 70vh;
}

.hero-text {
    box-sizing: border-box; /* Includes padding and border in the element's total width and height */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: 1.5em;
    padding: 1em;
}

.hero-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.75em;
    width: 100%;
}

.hero-links a {
    display: block;
    padding: 0.8em 0;
    width: 100%;
    border-radius: 0.5em;
    text-decoration: none;
    text-align: center;
}


/* lexicon */
#lexikon-page-main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "hero";
    margin: 2em 4%;
    gap: 2em;
}

.continent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    padding: 1em;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1em;
}

.card {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 13rem;
    gap: 1em;
    border-radius: 1em;
    overflow: hidden;
    box-shadow: 0px 0px 50px -15px #a5a5a5;
    transition: 0.5s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 50px -15px var(--primary-color);
}

.card-image {
    width: 100%;
}

.card-text {
    position: absolute;
    bottom: 0;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 0.5em;
    padding: 0.5em;
    background: linear-gradient(to bottom, #00000000 0%, #feffe5bd 70%, #FEFFE5 100%);
    color: var(--text-color);
    text-align: center;
    transition: 0.5s ease-in-out;
}

.card:hover .card-text {
    background-color: #feffe52b;
}

.card-text p {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-text h3 {
    text-align: inherit;
}


/* Game */
#animal-guesser-page-main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "hero"
                         "game";
    margin: 2em 4%;
    gap: 2em;
}

.correct {
    background-color: var(--secondary-color);
}

.incorrect {
    background-color: #d84e4e;
    color: white;
}

.game-head {
    display: flex;
    justify-content: center; /* Aligns items horizontally in the center */
    align-items: center; /* Aligns items vertically in the center */
    padding: 0.5em 1em;
    margin: 0 auto; /* Centers the div itself if it has a specified width */
}

.game-body table {
    width: 100%;
    border-collapse: collapse;
    font-size: clamp(0px, 2.6vw, 0.9em); /* Minimum size of 0px, preferred size of 2.6vw, maximum size of 0.9em*/
    border-radius: 1em;
    overflow: hidden;
}

.game-body table, td, th {
    padding: 0.7em 0.5em;
    border: 1px solid var(--background-color);
}

.game-body td{
    text-align: center;
    max-width: 8vw;
    height: calc(30px + 2vw);
    word-wrap: break-word;
}

.game-body th {
    text-align: center;
    background-color: var(--accent-color);
    max-width: 8vw;
    word-wrap: break-word;
}

.game-body th:nth-child(5), td:nth-child(5) {
    max-width: 6vw;
}


/* encyclopaedia */
#animal-page-main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "hero"
    "facts"
    "first-paragraph"
    "funfact"
    "second-paragraph";
    margin: 2em 4%;
    gap: 2em;
}

/* breadcrumbs */
.breadcrumbs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.5em;
    padding: 0.5em 1em;
    margin: 0 auto;
    background-color: var(--secondary-color-light);
    border-end-end-radius: 1em;
    border-end-start-radius: 1em;
}

.breadcrumb-arrow {
    width: 1.5em;
}

/* facts-list */
.facts {
    grid-area: facts;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.facts-list {
    background-color: var(--accent-color);
    border-radius: 1em;
    padding: 1em 2em;
}

.facts-list ul {
    list-style-type: none;
    padding: 0;
}

.facts-list li {
    display: grid;
    grid-template-columns: min-content 1fr;
    padding-block-start: 1em;
    padding-block-end: 1em;
}

.facts-list li:not(:last-of-type) {
    border-bottom: 1px solid var(--background-color);
}

.facts-list-icon {
    grid-column: 1/2;
    grid-row: 1/3;
    width: 2.5rem;
}

.facts-list-label {
    grid-column: 2/3;
    padding-inline-start: 1rem;
}

.facts-list-value {
    grid-column: 2/3;
    padding-inline-start: 1rem;
    font-weight: bold;
    font-size: 1.1em;
}

/* funfact */
.funfact {
    grid-area: funfact;
    display: grid;
    grid-template-columns: min-content 1fr min-content;
    align-items: center;
    gap: 1em;
    padding: 1.5em 1.5em;
    background-color: var(--secondary-color-light);
    border-radius: 1em;
}

.funfact-icon {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 2rem;
}

.funfact-heading {
    grid-column: 2/4;
    grid-row: 1/2;
    text-align: left;
}

.funfact-text {
    grid-column: 2/3;
    grid-row: 2/3;
    text-align: left;
}

.funfact-text b {
    color: var(--primary-color);
    font-weight: bold;
}

/* Animal Text */
.first-paragraph, .second-paragraph {
    display: flex;
    flex-direction: column;
    gap: 1em;
    text-align: left;
    font-size: 1em;
    padding: 1em;
}

.first-paragraph {
    grid-area: first-paragraph;
}

.second-paragraph {
    grid-area: second-paragraph;
}


/* Helpers */
/* Button colors */
.bg-primary {
    background-color: var(--primary-color);
    color: var(--background-color);
}

.bg-secondary {
    background-color: var(--secondary-color-light);
    color: var(--text-color);
}

/* Text, Links */
.inline-link {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: bold;
}

.inline-link:hover {
    color: var(--primary-color-light);
}

h1 {
    font-size: 3rem;
    color: var(--text-color);
    text-align: left;
}

h2 {
    font-size: 2.2rem;
    color: var(--text-color);
    text-align: left;
}

h3 {
    font-size: 1.8rem;
    color: var(--text-color);
    text-align: left;
}

h4 {
    font-size: 1.3rem;
    color: var(--text-color);
    text-align: left;
}

p {
    font-size: 1em;
    line-height: 1.3;
}

em {
    color: var(--primary-color);
    font-weight: bold;
    font-style: normal;
    font-size: 1.15em;
}

.section-title {
    text-align: center;
}

/* Divs */
.heading-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5em;
    padding: 0 1em;
}

/* Info Box */
.info-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    padding: 2em 4.5em;
    background-color: var(--secondary-color-light);
    border-radius: 1em;
    overflow: hidden;
}

.info-heading, .info-footer {
    display: flex;
    flex-direction: column;
    width: calc(100% + 5em);
    gap: 1em;
}

.info-body {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1.5em;
}

.info-body .one::before {
    content: "1";
    font-size: 1.65rem;
    font-weight: bold;
    position: absolute;
    transform: translate(-1em);
    color: var(--accent-color);
    line-height: 0.5;
}

.info-body .two::before {
    content: "2";
    font-size: 1.65rem;
    font-weight: bold;
    position: absolute;
    transform: translate(-1em);
    color: var(--accent-color);
    line-height: 0.5;
}

.info-body .three::before {
    content: "3";
    font-size: 1.65rem;
    font-weight: bold;
    position: absolute;
    transform: translate(-1em);
    color: var(--accent-color);
    line-height: 0.5;
}


.game-head {
    position: relative;
}

.combobox {
    position: relative;
}

.combobox .group {
    display: inline-flex;
    padding: 4px;
    cursor: pointer;
}

.combobox input,
.combobox button {
    background-color: white;
    color: black;
    box-sizing: border-box;
    height: 30px;
    padding: 0;
    margin: 0;
    vertical-align: bottom;
    border: 1px solid gray;
    position: relative;
    cursor: pointer;
}

.combobox input {
    width: 150px;
    border-right: none;
    outline: none;
    font-size: 87.5%;
    padding: 1px 3px;
}

.combobox button {
    width: 19px;
    border-left: none;
    outline: none;
    color: rgb(0 90 156);
}

.combobox button[aria-expanded="true"] svg {
    transform: rotate(180deg) translate(0, -3px);
}


ul[role="listbox"] {
    margin: 0;
    padding: 0;
    position: absolute;
    left: 4px;
    list-style: none;
    background-color: white;
    display: none;
    box-sizing: border-box;
    border: 1px solid gray;
    max-height: 250px;
    width: 168px;
    overflow: scroll;
    overflow-x: hidden;
    font-size: 87.5%;
    cursor: pointer;
}

ul[role="listbox"].open {
    display: block;
}

ul[role="listbox"] li[role="option"] {
    margin: 0;
    display: block;
    padding-left: 3px;
    padding-top: 2px;
    padding-bottom: 2px;
}

/* focus and hover styling */

.combobox .group.focus polygon,
.combobox .group:hover polygon {
    fill-opacity: 1;
}

.combobox .group.focus input,
.combobox .group.focus button,
.combobox .group input:hover,
.combobox .group button:hover {
    background-color: #def;
}

[role="listbox"].focus [role="option"][aria-selected="true"],
[role="listbox"] [role="option"]:hover {
    background-color: #def;
}