@import url('https://fonts.googleapis.com/css2?family=Rubik+Scribble&family=Ubuntu:wght@400;700&display=swap');

:root{
    --primary-color: #175632;
    --secondary-color: #60D26F;
    --accent-color: #83BEC5;

    --text-color: #0f0f0f;
    --background-color: #feffe5;
}

* {
    margin: 0;
    padding: 0;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 0.5em;
}

::-webkit-scrollbar-track {
    background-color: rgba(150, 150, 150, 30%);
}

::-webkit-scrollbar-thumb {
    background-color: rgba(150, 150, 150, 50%);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--accent-color);
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: Ubuntu, sans-serif;
}

/* Header */
header {
    position: sticky;
    top: 0; /* At the top of the page */
    z-index: 2;
    background: var(--background-color);
    box-shadow: 0px 0px 50px -20px #cbcbcb;
    width: vw; /* Full width */
}

header div {
    display: flex;
    align-items: center;
    gap: 1em;
}

header .container {
    padding: 12px 20px;
    justify-content: space-between;
}

header a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

#header-seperator {
    position: sticky;
    top: 72px;
    z-index: 1;
}

.logo-text {
    font-family: 'Rubik Scribble', cursive;
    font-size: 1.75em;
    color: black;
}

/* Burger Menu */
#burger-menu {
    display: block;
    position: relative;
    width: 1.5em;
    height: 1.5em;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;
}

#burger-menu span {
    display: block;
    position: absolute;
    height: 0.2em;
    width: 100%;
    background: #000;
    border-radius: 0.2em;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;
}

#burger-menu span:nth-child(1) {
    top: 0.5em;
}

#burger-menu span:nth-child(2) {
    top: 0.9em;
}

#burger-menu.open span:nth-child(1) {
    top: 0.7em;
    transform: rotate(45deg);
}

#burger-menu.open span:nth-child(2) {
    top: 0.7em;
    transform: rotate(-45deg);
}

/* Navigation */
nav {
    display: flex;
    position: fixed;
    z-index: 1;
    width: calc(100% - 2em); /* Set width to 100% of the viewport width */
    gap: 0.4em;
    padding: 1em;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--background-color);
    border-bottom: solid 1px grey;
    box-shadow: 0px 0px 50px -20px #b6b6b6;

    transform: translateY(-17.5em);
    transition: 0.5s ease-in-out;
}

nav a {
    display: block;
    padding: 10px;
    width: 40%;
    min-width: 10em;
    text-align: center;
    text-decoration: none;
    color: var(--background-color);
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 0.75em;     /* round corners */
}

nav a.self {
    background-color: var(--secondary-color);
    color: var(--text-color);
}

/* Home/Landingpage*/
section {
    margin: 2em 4%;
}

.hero {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
}

.hero-image img {
    width: 100%;
    max-width: calc(100vh / 2);
}

.hero-text {
    font-size: 0.9em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5em;
    padding: 1em;
}

.hero-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.75em;
    width: 100%;
}

.hero-links a {
    display: block;
    padding: 0.8em 0;
    width: 100%;
    border-radius: 0.5em;
    text-decoration: none;
    text-align: center;
}


/* Game */
.correct {
    background-color: #60D26F;
}

.incorrect {
    background-color: #D26060;
    color: var(--background-color)
}

.game-head {
    display: flex;
    justify-content: center; /* Aligns items horizontally in the center */
    align-items: center; /* Aligns items vertically in the center */
    padding: 0.5em 1em;
    margin: 0 auto; /* Centers the div itself if it has a specified width */
}

.game-body table {
    width: 100%;
    border-collapse: collapse;
    font-size: clamp(0px, 2.25vw, 0.9em); /* Minimum size of 16px, preferred size of 2.25vw, maximum size of 32px */
}

.game-body table, td, th {
    padding: 0.5em 1em;
    border: 1px solid #000;
}

.game-body td{
    text-align: center;
    max-width: 8vw;
    height: 50px;
    word-wrap: break-word;
}

.game-body th {
    text-align: center;
    max-width: 8vw;
    word-wrap: break-word;
}

.game-body th:nth-child(5), td:nth-child(5) {
    max-width: 6vw;
}

/* Helpers */
/* Button colors */
.bg-primary {
    background-color: var(--primary-color);
    color: var(--background-color);
}

.bg-secondary {
    background-color: var(--secondary-color);
    color: var(--text-color);
}

/* Text, Links */
.inline-link {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: bold;
}

.inline-link:hover {
    color: var(--secondary-color);
}

h1 {
    font-size: 2.75rem;
    color: var(--text-color);
    text-align: left;
}

.heading-container{
    font-size: 0.9em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5em;
    padding: 1em;
}